.card {
    max-width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    padding: var(--padding-lg);
    background: var(--color-surface)
}

.sm {
    width: 16rem;
}

.md {
    width: 24rem;
}

.lg {
    width: 32rem;
}

.xl {
    width: 40rem;
}

.default {
    border: 1px solid var(--color-muted-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.primary {
    background: var(--color-blue);
    box-shadow: 0 4px 12px rgba(143, 185, 217, 0.25);
}

.secondary {
    background: var(--color-yellow);
    box-shadow: 0 4px 12px rgba(232, 207, 106, 0.25);
}

.ghost {
    background: transparent;
    border: 1px solid var(--color-muted-light);
    box-shadow: none;
}

.danger {
    border: 1px solid var(--color-danger);
}

.vertical-lines {
    background: transparent;
    border-left: 1px solid var(--color-muted-light);
    border-right: 1px solid var(--color-muted-light);
    border-radius: 0;
}

.horizontal-lines {
    background: transparent;
    border-top: 1px solid var(--color-muted-light);
    border-bottom: 1px solid var(--color-muted-light);
    border-radius: 0;
}

.vertical-lines-sm {
    position: relative;
    border-radius: 0;
    background: transparent;
}

.vertical-lines-sm::before,
.vertical-lines-sm::after {
    content: "";
    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 1px;
    background-color: var(--color-muted-light);
}

.vertical-lines-sm::before {
    left: 0;
}

.vertical-lines-sm::after {
    right: 0;
}


.horizontal-lines-sm {
    position: relative;
    background: transparent;
    border-radius: 0;
}

.horizontal-lines-sm::before,
.horizontal-lines-sm::after {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    height: 1px;
    background-color: var(--color-muted-light)
}

.horizontal-lines-sm::before {
    top: 0;
}

.horizontal-lines-sm::after {
    bottom: 0;
}

.default:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}