.layout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.header {
    color: var(--color-blue-strong);
}


.buttons {
    display: flex;
    gap: var(--padding-sm);
    padding: var(--padding-lg);
}